
<%= form_for @user , html: { class: "form-horizontal" } do |f| %>
<div class= "text-center">
<h4> SignUp </h4></div>
<div class="form-group", "text-center">
    <label for="inputname" class="col-sm-2 control-label">Name</label>
    <div class="col-sm-6">
    	<%=  f.text_field :name , class: "form-control" ,id: "inputname"%>
    </div>
  </div>
<div class="form-group", "text-center">
    <label for="inputemail" class="col-sm-2 control-label">Email</label>
    <div class="col-sm-6">
      <%=  f.text_field :email , class: "form-control" ,id: "inputemail"%>
    </div>
  </div>

  <div class="form-group", "text-center">
    <label for="inputpassword" class="col-sm-2 control-label">Password</label>
    <div class="col-sm-6">
    	<%= f.password_field :password , class: "form-control" ,id: "inputpassword"%>
    </div>
  </div>

  <div class="form-group", "text-center">
    <label for="inputpassword1" class="col-sm-2 control-label"> Confirm Password</label>
    <div class="col-sm-6">
      <%=  f.password_field :confirm_password , class: "form-control" ,id: "inputpassword1"%>
    </div>
  </div>


  <div class = "form-group","text-center">
<div class="col-sm-offset-2 col-sm-10">
      
      <%= f.submit "Create Account" , class: "btn-btn-default" %>
    </div>
  </div>
 <%end %>

